<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link type="text/css" rel="stylesheet" href="../css/materialize.css">
  <link type="text/css" rel="stylesheet" href="../css/common_color.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="../resource/icon/favicon.ico">
  <title>Memo</title>
</head>

<body style="overflow-x: hidden;">

  <form style="width:auto; margin-top: 50px;" id="addMemo_form" action="/api/memo" method="POST"
    onsubmit="return addMemo()">
    <fieldset class="login_form" style="max-width: 500px; margin:auto; border:none;">

      <!-- 태그 선택 -->
      <div id="select-tag" class="custom-radios">
        <!-- 빨간색 -->
        <div>
          <input type="radio" id="tag1" name="tag" value="1" checked>
          <label for="tag1">
            <span>
              <img src="../resource/check.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>

        <!-- 주황색 -->
        <div>
          <input type="radio" id="tag2" name="tag" value="2">
          <label for="tag2">
            <span>
              <img src="../resource/check.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>

        <!-- 노란색 -->
        <div>
          <input type="radio" id="tag3" name="tag" value="3">
          <label for="tag3">
            <span>
              <img src="../resource/check.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>

        <!-- 초록색-->
        <div>
          <input type="radio" id="tag4" name="tag" value="4">
          <label for="tag4">
            <span>
              <img src="../resource/check.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>

        <!-- 파란색-->
        <div>
          <input type="radio" id="tag5" name="tag" value="5">
          <label for="tag5">
            <span>
              <img src="../resource/check.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>

        <!-- 보라색-->
        <div>
          <input type="radio" id="tag6" name="tag" value="6">
          <label for="tag6">
            <span>
              <img src="../resource/check.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>

        <!-- 회색-->
        <div>
          <input type="radio" id="tag7" name="tag" value="7">
          <label for="tag7">
            <span>
              <img src="../resource/check.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      </div>

      <!-- 타이틀 입력-->
      <div class="input-field col s6">
        <input id="title" type="text" name="title" class="validate" data-length="40">
        <label for="title">Title</label>
      </div>

      <!-- 메모 입력-->
      <div class="input-field col s12">
        <textarea id="contents" name="contents" class="materialize-textarea" data-length="400"></textarea>
        <label for="contents">Description</label>
      </div>

      <!-- 버튼 -->
      <div style="float:right; margin-top: 30px;">
        <a id="btn-cancel" class="waves-effect waves-light btn white black-text" style="margin-right: 10px;">취소</a>
        <button id="btn-save" type="submit" class="waves-effect waves-light btn">등록</button>
      </div>
    </fieldset>
  </form>

  <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="../js/addMemo.js"></script>
</body>

</html>