<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link rel="shortcut icon" href="../resource/icon/favicon.ico">
    <title>Memo</title>
</head>

<body>

    <!-- 파일 업로드 테스트용-->
    <form action="/api/uploads" method="post" enctype="multipart/form-data">
        <input type="file" name="files" />
        <input type="submit" value="전송" />
    </form>


</body>

</html>