<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="안녕">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qtzz.synology.me:1010/main.do">
    <meta property="og:image" content="http://www.topstarnews.net/news/photo/first/201704/img_259721_1.jpg">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link rel="shortcut icon" href="../resource/icon/favicon.ico">
    <title>Memo</title>
</head>

<body style="overflow-x: hidden;">
    <!-- 클릭시 메인 화면으로 이동 -->
    <div style="margin-top: 50px;">
        <a href="#">
            <img src='../resource/logo.png' style="max-width: 100px; margin:0px auto; display:block" alt="">
        </a>
    </div>

    <!-- 로그인 폼 -->
    <form style="max-width: 400px; margin-top: 10px; margin:auto; padding-left: 10px; padding-right:10px;"
        id="login_form" action="/api/signin" method="POST" onsubmit="return goSignin()">
        <!-- ID 입력-->
        <div class="input-field col s6">
            <input id="id" name="user_id" type="text" class="validate">
            <label for="id">Id</label>
        </div>

        <!-- PW 입력-->
        <div class="input-field col s6">
            <input id="password" name="user_pw" type="password" class="validate">
            <label for="password">Password</label>
        </div>

        <!-- 로그인 버튼 -->
        <button id="btn-login" type="submit" class="waves-effect waves-light btn" style="width:100%;">로그인</button>
    </form>

    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>

</body>

</html>