<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../css/common_color.css">
    <link type="text/css" rel="stylesheet" href="../css/memo_style.css">
    <link rel="shortcut icon" href="../resource/icon/favicon.ico">

    <title>메모</title>
</head>

<body id="body" class="memolist-body-bg">
    <!-- 검색 -->
    <div id="header" class="search-bg">
        <input id="search_input" type="text" class="search-input" placeholder="Search...">

        <div id="search_cancel" class="search-cancel-bg">
            <img class="search-cancel-icon" src="../resource/cancel-white.svg"/>
        </div>
    </div>

    <!-- 메모 리스트 -->
    <div id="memo_list" class="memolist-bg">
    </div>

    <!-- 플로팅 버튼 -->
    <div id="floating_btn" class="floating-add-memo-bg" onclick="location.href='./addMemo'"></div>

    <!-- [s] 상세 보기 레이아웃 -->
    <div id="detail_root" class="detail-root-bg">
        <div class="detail-root-fg">
            <img src="../resource/close_white.svg" class="detail-close-btn"
                onclick="javascript:showDetailHidden();">

            <!-- 태그 색상 -->
            <div id="detail-header-tag" class="tag_color detail-header-tag"></div>

            <div class="detail-body-bg">

                <!-- 태그 선택 -->
                <div class="detail-tag-bg">
                    <div class="detail-tag-item detail-tag1" onclick="javascript:bindHeaderTag(1);"></div>
                    <div class="detail-tag-item detail-tag2" onclick="javascript:bindHeaderTag(2);"></div>
                    <div class="detail-tag-item detail-tag3" onclick="javascript:bindHeaderTag(3);"></div>
                    <div class="detail-tag-item detail-tag4" onclick="javascript:bindHeaderTag(4);"></div>
                    <div class="detail-tag-item detail-tag5" onclick="javascript:bindHeaderTag(5);"></div>
                    <div class="detail-tag-item detail-tag6" onclick="javascript:bindHeaderTag(6);"></div>
                    <div class="detail-tag-item detail-tag7" onclick="javascript:bindHeaderTag(7);"></div>
                </div>

                <!-- 타이틀 -->
                <input id="detail-title" type="text" class="detail-title" maxlength="40"></input>
                <span id="title-counter" class="detail-counter"></span>
                <!-- 내용 -->
                <textarea id="detail-contents" class="detail-contents" maxlength="400"></textarea>
                <span id="contents-counter" class="detail-counter"></span>

                <!-- 화면에 표시하지 않는 정보들 -->
                <div id="etc_id" style="display: none;"></div>
                <div id="etc_tag" style="display: none;"></div>

                <!-- 수정 -->
                <div id="update_memo" class="common-btn-bg detail-update-btn">수정</div>
            </div>

        </div>
    </div>
    <!-- [e] 상세 보기 레이아웃 -->


    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/memoList.js"></script>
</body>

</html>