<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link rel="shortcut icon" href="../resource/icon/favicon.ico">
    <title>Memo</title>
</head>

<body>

    <!-- 로그인 폼 -->
    <form style="max-width: 400px; margin-top: 200px; margin:auto;" id="login_form" action="/api/signUp" method="POST">
        <!-- ID 입력-->
        <div class="input-field col s6">
            <input id="id" name="user_id" type="text" class="validate">
            <label for="id">Id</label>
        </div>

        <!-- PW 입력-->
        <div class="input-field col s6">
            <input id="password" name="user_pw" type="password" class="validate">
            <label for="password">Password</label>
        </div>

        <!-- ID 입력-->
        <div class="input-field col s6">
            <input id="name" name="user_nm" type="text" class="validate">
            <label for="name">Name</label>
        </div>

        <!-- 로그인 버튼 -->
        <button id="btn-login" type="submit" class="waves-effect waves-light btn" style="width:100%;">회원가입</button>
    </form>

    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>

</body>

</html>