/* 100% — FF
99% — FC
98% — FA
97% — F7
96% — F5
95% — F2
94% — F0
93% — ED
92% — EB
91% — E8
90% — E6
89% — E3
88% — E0
87% — DE
86% — DB
85% — D9
84% — D6
83% — D4
82% — D1
81% — CF
80% — CC
79% — C9
78% — C7
77% — C4
76% — C2
75% — BF
74% — BD
73% — BA
72% — B8
71% — B5
70% — B3
69% — B0
68% — AD
67% — AB
66% — A8
65% — A6
64% — A3
63% — A1
62% — 9E
61% — 9C
60% — 99
59% — 96
57% — 94
56% — 91
56% — 8F
55% — 8C
54% — 8A
53% — 87
52% — 85
51% — 82
50% — 80
49% — 7D
48% — 7A
47% — 78
46% — 75
45% — 73
44% — 70
43% — 6E
42% — 6B
41% — 69
40% — 66
39% — 63
38% — 61
37% — 5E
36% — 5C
35% — 59
34% — 57
33% — 54
32% — 52
31% — 4F
30% — 4D
28% — 4A
28% — 47
27% — 45
26% — 42
25% — 40
24% — 3D
23% — 3B
22% — 38
21% — 36
20% — 33
19% — 30
18% — 2E
17% — 2B
16% — 29
15% — 26
14% — 24
13% — 21
12% — 1F
11% — 1C
10% — 1A
9% — 17
8% — 14
7% — 12
6% — 0F
5% — 0D
4% — 0A
3% — 08
2% — 05
1% — 03
0% — 00 */

.scroll-stop {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}

.memolist-body-bg {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

.search-bg {
    width: 100%;
    height: 47px;
    top:0px;
    position: fixed;
    background-color: rgba(26, 78, 102, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-input-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
}

.search-input {
    position: absolute;
    left: 5px;
    width: 85%;
    height: 35px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(4, 0, 236);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-radius: 17.5px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
}

.search-cancel-bg {
    width: 30px;
    height:80%;
    top: 10%;
    right:5px;
    position: absolute;
    margin-right: 4px;
}

.search-cancel-icon {
    width: 30px;
    height:100%;
    position: absolute;
}

.search-input::placeholder {
    color: rgb(216, 105, 2);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-white-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}

.floating-add-memo-bg {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 30px;
    background-image: url("../resource/add_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(26, 78, 102);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.memolist-bg {
    margin-top: 55px;
    background-color: #000000;
}

.card-normal-bg {
    margin: auto;
    width: 95%;
    padding-top: 15px;
    padding-left : 15px;
    padding-right : 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-normal-title {
    width: auto;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-normal-contents {
    width: auto;
    height: 100%;
    /* margin-left: 19px;
    margin-right: 19px;
    margin-top: 10px; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
    /* line-height: 1.3;
    max-height: 3.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
}

.card-normal-contents p {
    color : rgb(0, 0, 0);
}

.card-normal-tag {
    width: auto;
    height: 20px;
    margin-top: 5px;
}

.etc-tags {
    display: none;
}

.detail-root-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.90);
}

.detail-root-fg {
    position: absolute;
    background-color: #596d79;
    width: 90%;
    height: 400px;
    left: 5%;
    right: 5%;
    top: 50%;
    margin-top: -225px;
}

.detail-close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
}

.detail-header-tag {
    width: 100%;
    height: 40px;
}

.detail-body-bg {
    margin-left: 5px;
    margin-right: 5px;
}

.detail-tag-bg {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: transparent;
}

.detail-tag-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.detail-tag-item:hover {
    transform: scale(1.2);
}

.detail-tag1 {
    background-color: rgb(255, 59, 48);
}

.detail-tag2 {
    background-color: rgb(255, 149, 0);
}

.detail-tag3 {
    background-color: rgb(255, 204, 0);
    ;
}

.detail-tag4 {
    background-color: rgb(52, 199, 89);
    ;
}

.detail-tag5 {
    background-color: rgb(0, 122, 255);
}

.detail-tag6 {
    background-color: rgb(175, 82, 222);
}

.detail-tag7 {
    background-color: rgb(142, 142, 147);
}

.detail-title {
    width: 98%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;
    outline: none;
}

.detail-contents {
    display: inline-block;
    overflow-y: scroll;
    width: 98%;
    height: 220px;
    padding-top: 0px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05px;
    line-height: 1.6em;
    border: none;
    background-color: transparent;
    outline: none;
}

.detail-counter {
    right: 5px;
    float: right;
    font-size: 9px;
    color: rgb(255, 255, 255);
}

.dropbtn {
    background-color: rgb(57, 175, 179);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown {
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(57, 175, 179);
}

.common-btn-bg {
    background-color: rgb(226, 108, 34);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail-update-btn {
    position: absolute;
    width: 100px;
    border: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    right: 5px;
    bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card-search-bg {
    margin: auto;
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
}

.card-search-title {
    width: auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}